//@import 'bourbon';
//@import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';
@import 'foundation';


//-------------Main body and header formatting---------------

body
 {
    background: #F0FFFF;
 }

.top-bar,
 {
  background-color: #00688B;
  height: 150px;
  border-bottom: 10px solid #FFFACD;
  margin-bottom: 40px;
}

.logo {
  font-size: 60px;
  font-family: Verdana, sans-serif;
  margin-top: 35px;
  margin-right: 20px;
}

.right .has-dropdown {
  margin-right: 5px;
  border-bottom: 15px solid #FFFACD;
  height: 50px;
}

.right .name {
  margin-right: 5px;
  border-bottom: 15px solid #FFFACD;
  height: 50px;
}

.bio-section {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: 3px solid grey;
}

.user-signup {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: 3px solid grey;
}
//---------------LOGIN PAGE STYLING-------------------------

form .login-input{
  font-family: monospace;
  font-size: 20px;
  border-radius: 7px;
  border: 3px solid grey;
}

form .submit-buttons {
  background: linear-gradient(to top, #436EEE, #1E90FF);
  border-radius: 7px;
  border-bottom: 3px solid #00688B;
  border-top: 2px solid #E0FFFF;
}

 .submit-buttons {
  background: linear-gradient(to top, #436EEE, #1E90FF);
  border-radius: 7px;
  border-bottom: 3px solid #00688B;
  border-top: 2px solid #E0FFFF;
}

.submit-buttons-edit {
 background: linear-gradient(to top, #436EEE, #1E90FF);
 border-radius: 7px;
 border-bottom: 3px solid #00688B;
 border-top: 2px solid #E0FFFF;
 margin-left: 10px;
}

//---------------ALL USERS PAGE STYLING------------------

.all-users {
  color:red;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  width: 200px;
  height: 150px;
  padding: 0px 10px 0px 10px;
  margin: 20px;
}

.all-users li{
  display: inline-block;
}

.user-image-two {
  border-right: 3px solid black;
  border-radius: 15px 0px 0px 15px;
  max-width: 300px;
  max-height: 300px;
}

.userImageBox {
  border: 3px solid black;
  border-radius: 15px 15px 15px 15px;
  background-color: #E0EEEE;
  margin-bottom: 15px;
  width: 800px;
  height: 303px;
}

.userImageBox:hover{
  background: #FFFACD;
}

.user-data {
  float: right;
  padding-right: 285px;
  margin-top: 15px;
}

.new-home {
  margin-left: 40px;
  font-family: Verdana, sans-serif;
}

//---------------USER PROFILE PAGE STYLING------------------

.profile-details {
  font-size: 15px;
  list-style: none;
}

.prof {
  float: left;
}


.user-image{
  border: 5px solid black;
  border-radius: 45px;
  max-width: 400px;
  max-height: 400px;
}


.user-profile-top-row {
  margin-top: 45px;
  margin-left: 45px;
}


.prof-bio {
  padding-left: 25px;
}

.bio {
  margin-left: 25px;
  margin-top: 15px;
}


//__________________________________________________________


.welcome
 {
  margin-left: 10px;
 }


.section.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 120px;

  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
  border-bottom: 1px solid black;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}

.span-col {
  border: 2px solid red;
}

li {
  list-style: none;
}
